---
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Pemimpin Muda</title>
      <link
         rel="icon"
         type="image/x-icon"
         href="../images/logo-pemimpin-muda.svg"
      />
      <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
   </head>
   <body class="flex flex-col min-h-screen bg-background Antialiased">
      <Navbar />
      <main class="grow w-full">
         <slot />
      </main>
      <Footer />
      <script>
         import AOS from "aos";
         import "aos/dist/aos.css"; // Import CSS bawaan AOS

         // Inisialisasi AOS
         AOS.init({
            duration: 800,
            once: true,
         });
      </script>
   </body>
</html>
